/*  */


html {
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ui.one.column.page.grid {

	margin: 25px 50px;
	padding: 0 120px;
}



/* This below is ensuring that all the menu items are white */

tbody tr td:nth-child(1) {
	color: white;
	text-align: center;
	letter-spacing: 3px;
	line-height: 150%;
}





.ui.table td {
padding: 1.7em 3em;
border-top: white 2px solid;
vertical-align: middle;
}




.ui.yellow.header{
	color: rgb(249, 162, 41);
}

/* advance select for grey text*/


td {
		text-align: left;
	}

tr td:nth-child(2) {
	color: grey;
	font-size: .8em;
	letter-spacing: 3px;
	line-height: 150%;
	text-align: center;
}

tr td:nth-child(3) {
	color: grey;
}


/* This below is ensuring that the row's color matches the price*/


.yellow_plate td {
	background-color: rgb(249, 162, 41);

}

.red_plate td {
	background-color: rgb(205, 32, 53);

}

.green_plate td {
	background-color: lightgreen;
}

.blue_plate td {
	background-color: lightblue;
}





/* This below is ensuring that the "description" and "note" categories have a white background*/

table td:nth-child(2) {
    background-color: white;
}
table td:nth-child(3) {
    background-color: white;
}



.ui.accordion .accordion .title, .ui.accordion .title {
cursor: pointer;
margin: 0;
padding: 1.75em 1em;
background-color: white;
color: rgb(194, 68, 69);
;
border-top: 1px solid rgba(0,0,0,.05);
-webkit-transition: background-color .1s ease-out;
-moz-transition: background-color .1s ease-out;
transition: background-color .1s ease-out;
}

.ui.accordion .accordion .title, .ui.accordion .title:hover {
cursor: pointer;
margin: 0;
padding: 1.75em 1em;
background-color: rgb(194, 68, 69);
color: white;
border-top: 1px solid rgba(0,0,0,.05);
-webkit-transition: background-color .1s ease-out;
-moz-transition: background-color .1s ease-out;
transition: background-color .1s ease-out;
}


.accordion.sub {

	background-color: white;
	color: rgb(194, 68, 69);
}





/* Mobile */
@media screen and (min-width: 320px) {
.ui.one.column.page.grid {

	margin: 25px 50px;
	padding: 0 5%;
}

}

/* Tablet */
@media screen and (min-width: 768px) {

.ui.one.column.page.grid {

	margin: 25px 50px;
	padding: 0 10%;
}



/* Desktop */
@media screen and (min-width: 1140px) {
.ui.one.column.page.grid {

	margin: 25px 50px;
	padding: 0 20%;
}


}





