html {
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.accordion {

	margin-top: 20px;
}


td {
		text-align: left;
	}

tr td:nth-child(2) {
	color: grey;
}

tr td:nth-child(3) {
	color: grey;
}

.ui.table td {
padding: 2.4em .7em;
vertical-align: middle;
}

.ui.icon.menu>.item {
height: auto;
text-align: left;
color: white;
}

.yellow_plate td {
	background-color: yellow;

}


.red_plate td {
	background-color: rgb(205, 32, 53);

}

.green_plate td {
	background-color: lightgreen;
}

.blue_plate td {
	background-color: lightblue;
}




table td:nth-child(2) {
    background-color: white;
}
table td:nth-child(3) {
    background-color: white;
}



.ui.accordion .accordion .title, .ui.accordion .title {
cursor: pointer;
margin: 0;
padding: 1.75em 1em;
color: teal;
border-top: 1px solid rgba(0,0,0,.05);
-webkit-transition: background-color .1s ease-out;
-moz-transition: background-color .1s ease-out;
transition: background-color .1s ease-out;
}






/* Mobile */
@media screen and (min-width: 320px) {
	body {

}

/* Tablet */
@media screen and (min-width: 768px) {
  body {
  
}

/* Desktop */
@media screen and (min-width: 1140px) {

    body {


}